/*mobile version*/
:root {
    --block1-color: rgb(133, 163, 140);
    --smallblock2-color: rgb(156, 135, 163);
    --smallblock3-color: rgb(247, 194, 131);
    --block3-color: rgb(184, 149, 157);
    --block4-color: rgb(177, 150, 119);
    --page-color: rgb(225, 214, 201);
    --accent1-color: black;
    --accent2-color: rgb(92, 97, 102);
    --accent3-color: white;
  }
  

.page {
    background-color: var(--page-color);
}

.block1,
.block2,
.block3 {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  border-radius: 25px;
  padding: 2%;
  margin-bottom: 2%;
}

.block1 {
  background-color: var(--block1-color);
}

.block2 {
    padding: 0%;
}

.block3 {
    background-color: var(--block3-color);
}

.small-block1,
.small-block2 {
    font-family: Arial;
    border-radius: 25px;
    padding: 2%;
    width: 96%;
}

.small-block1 {
    background-color: var(--smallblock2-color);
    margin-bottom: 2%;
}
  
.small-block2 {
    row-gap: 2%;
    column-gap: 2%;
    background-color: var(--smallblock3-color);
    margin-left: 0%;
}

.personalia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person-logo {
    border: 4px solid var(--accent1-color);
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 30%;
    animation: glow 3s ease alternate;
}

.aboutMe {
    width: 100%;
}

.education {
    width: 100%;
}

.skills{
    width: 100%;
}

.langauge-block{
    display: flex;
    flex-direction: column;
    background-color: var(--accent2-color);
    border-radius: 15px;
    margin-top: 2%;
    padding: 2%;
}

.standard-content {
    padding: 15px;
    font-size: 20px;
}

.standard-content__category-titleblock {
    color: black;

}

.standard-content__category--hidden-mobile {
    display: none;
}

.standard-content__element {
    display: flex;
    flex-direction: column;
}

.standard-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.standard-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.standard-content__institute,
.standard-content__subtext {
    color: var(--accent1-color);
    margin-top: 0px;
    font-size: 14px;
}

.standard-content__text {
    margin-top: 0px;
    font-size: 16px;
}

.education-content__period {
    display: flex;
    flex-direction: column;
    color: var(--accent1-color);
    font-size: 14px;
}

.education-content__institute {
    color: var(--accent1-color);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {

    .block1 {
        flex-direction: row;
    }

    .block2 {
        flex-direction: row;
    }

    .small-block1,
    .small-block2 {
        margin-bottom: 0%;
    }

    .small-block1 {
        margin-right: 1%;
    }

    .small-block2 {
        margin-left: 1%;
    }

    .standard-content__category--hidden-mobile{
        display: flex;
        flex-direction: column;
        font-size: 26px;
    }

    .standard-content__category--hidden-mobile hr{
        width: 100%;
    }

    .standard-content__element--hidden-mobile {
        display: flex;
    }

    .standard-content__element-header{
        display: flex;
        justify-content: space-between;
    }

    .education-content__period {
        display: flex;
        font-size: 12px;
        color: #5c6166;
    }

}
